set bell-style none
set disable-completion off
set horizontal-scroll-mode off
set show-all-if-ambiguous on
set match-hidden-files off
set completion-ignore-case off
set visible-stats off
set colored-stats off
set skip-completed-text off
set print-completions-horizontally off
set mark-directories on
set mark-symlinked-directories on
set mark-modified-lines off
set show-mode-in-prompt off
set completion-query-items 100
$include /home/terror/.inputrc.custom
